* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    padding: 10px;
    background-color: red;
    width: 100%;
    height: 150px;
}

.menu {
    display: flex;    
    align-items: center;
    justify-content: space-between;    
    width: 100%;
}

.menu a {
    display: flex;
    color: white;
}

.menu img {
    display: flex;
    object-fit: cover;
    max-height: 100px;
}

a {
    /* color: white; */
    text-decoration: none;
    padding: 10px;
}

.menu-links {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    gap: 20px;
}

.container {
    display: flex;
    border: solid 1px green;
    background-color: pink;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: yellow;   
}

.carroussel {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: red;
    padding: 20px;
}

.sidebar-container {
    display: flex;
    width: 300px;
    background-color: red;
    border: solid 1px black;
    padding: 20px;
}

.footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}